@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import './bootstrap/_bootstrap';
@import './vars.scss';
@import './animate.css';
@import 'icon-font.min.css';

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

*
{
  &::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }    
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
  }    
  &::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
  }
}

.flex-1
{
  flex: 1;
}
.cursor-initial
{
  cursor: initial !important;
}
.cursor-text
{
  cursor: text !important;
}
.justify-content-evenly
{
  justify-content: space-evenly !important;
}
.text-underline
{
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: optional;
  user-select: none;
  font-weight: 300;
  font-size: 13px;
  background-color: $background-grey;
}
.text-dark
{
  color: #4E4E4E !important;
}
.montserrat
{
  font-family: 'Montserrat', sans-serif;
}
button
{
  outline: none !important;
}

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

.poppins
{
  font-family: 'Poppins', sans-serif;
}
.cursor-pointer
{
  cursor: pointer;
}
.shadow-c
{
  box-shadow: 0 2.3vw 4.2vw -0.7vw #0000001c;
}
.bg-light-grey
{
  background-color: $background-grey;
}
.text-grey
{
  color: $grey;
}
.text-grey-dark
{
  color: $grey-dark
}

.pokemon-list
{
  &__searcher-pokemon
  {
    background: #0000000d;
    transition: all .25s ease;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(8px);
    .search-wrap
    {
      width: 100%;
      height: auto;
      position: relative;

      input#searcher
      {
        width: 100%;
        border: none;
        border-radius: 3px;
        padding: 25px 45px 25px 15px;
        font-size: 13px;
        font-weight: 500;
        outline: none;
      }
      .search-icon
      {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        cursor: pointer;

        &.load
        {
          animation: linear .6s loadTyping infinite;
          top: 40%;
        }
        @keyframes loadTyping 
        {
          from{
            transform: rotate(0deg);
          } to {
            transform: rotate(360deg);
          } 
        }
      }
    }
  }
  &__item
  {
    padding: 15px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 0.125rem 0.25rem #00000013;
    box-sizing: border-box;
    height: 70px;
    margin: 5px 0px;
    transition: all .3s ease;
    background-color: #fff;
    cursor: pointer;
    border-bottom: dashed 1px transparent;

    &:hover
    {
      border-bottom: dashed 1px #000;
      .pokemon-list__img-wrap > .pokemon-list__img-wrap__img
      {
        width: 170px;
        filter: saturate(1);
      }
      .pokemon-list__item-name
      {
        color: $secondary;
      }
    }

    .pokemon-list__item-name
    {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 800;
      color: #7d7b82;
      transition: all .3s ease;
    }
    .pokemon-list__img-wrap
    {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      .pokemon-list__img-wrap__img
      {
        transition: all .3s ease;
        object-fit: cover;
        position: relative;
        width: 60px;
        height: 70px;
        filter: saturate(0.7);
      }
    }
  }
}

.ellipse-wrap
{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: -1;
  .ellipse
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    border: solid 6px #fff;

    &.--default
    {
      width: 220px;
      height: 220px;
      position: absolute;
      left: -55px;
      top: -35px;
    }
    &.--small
    {
      width: 140px;
      height: 140px;
      position: absolute;
      right: -20px;
      top: -20px;
    }
    &.--large
    {
      width: 25vh;
      height: 25vh;
      position: absolute;
      top: -75px;
      margin: 0 auto;
      left: 0px;
      right: 0;
    }
  }
}

.wrap-info-pokemon
{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 18px;
  &__img
  {
    width: 150px;
    // filter: drop-shadow(10px 10px 0px black);
  }
  &__abilities
  {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    padding: 0 5px 5px 5px;
    width: 100%;

    .ability_item
    {
      background-color: #fff;
      padding: 8px 10px;
      border-radius: 10px;
      width: max-content;
      flex: none;
      height: 36px;
      box-shadow: 0 0.125rem 0.25rem #00000013;
    }
  }
  &__stats
  {
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

    .stat_item
    {
      width: 90px;
      height: 55px;
      border-radius: 8px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: capitalize;
    }
    .value
    {
      font-size: 20px;
      color: #000;
    }
    .text
    {
      font-size: 13px;
      font-weight: 500;
    }
    .stat__hp
    {
      border-color: $green;
      color: $green;
      grid-area: 1 / 1 / 2 / 2;
    }
    .stat__attack
    {
      border-color: $danger;
      color: $danger;
      grid-area: 1 / 2 / 2 / 3;
    }
    .stat__defense
    {
      border-color: $blue-color;
      color: $blue-color;
      grid-area: 2 / 1 / 3 / 2;
    }
    .stat__speed
    {
      border-color: $purple;
      color: $purple;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}

.back-button
{
  position: fixed;
  top: 15px;
  left: 0px;
  background: #fff;
  border: none;
  font-size: 22px;
  border-radius: 0 6px 6px 0;
  padding: 2px 6px 2px 8px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;

  &:hover
  {
    padding-left: 15px;
  }
}