$text-color: #00234b;
$blue-color: #2A76CE;
$green: #00D49B;
$emerald: #EFFDF1;
$background-grey: #fafafa;
$grey: #EAEAEA;
$grey-dark: #888787;
$grey-light: #9c9b9b;
$blue-light: #4EADEC;
$tablet: 768px;
$mobile: 426px;
$mobile-sm: 325px;
$mobile-md: 375px;
$mobile-half: 600px;
$facebook-color: #3b5998;
$danger: #FF0000;
$pc-half: 1025px;
$primary: #22cebd;
$secondary: #191919;
$purple: #7625E6;

@mixin tablet 
{
    @media (max-width: #{$tablet})
    {
        @content;
    }    
}

@mixin mobile-md 
{
    @media (max-width: #{$mobile-md})
    {
        @content;
    }    
}

@mixin mobile-sm 
{
    @media (max-width: #{$mobile-sm})
    {
        @content;
    }    
}

@mixin pc-half
{
    @media (max-width: #{$pc-half})
    {
        @content;
    }
}

@mixin mobile
{
    @media (max-width: #{$mobile})
    {
        @content;
    }    
}

@mixin mobile-half
{
    @media (max-width: #{$mobile-half})
    {
        @content;
    }    
}